/* Reset and general styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px solid rgba(255, 0, 0, 0.1); /* light red border on everything */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



#PrayerForm {
  /* height: 60%;
  margin: 10%; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

/* Centered form box */
.form-container {
  background-color: white;
  padding: 20px 2rem; /* Fixed padding */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  
}

form {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Three columns layout for the inputs */
  gap: 12px;
}

input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

textarea {
  grid-column: span 3;
  height: 150px;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
}

/* Button Styling */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button[type="reset"] {
  background-color: #f44336; /* Red for the reset button */
  color: white;
}

button[type="submit"] {
  background-color: #4CAF50; /* Green for the submit button */
  color: white;
}

footer {
  text-align: center;
  margin: 20px 0;
  color: #555;
  width: 100%;
}

.form-header {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

nav.navbar {
  position: sticky;
  width:100%;
  top: 0;
  z-index: 1030; /* stays above other content */
}



/* Button positioning: Flexbox to align buttons at the bottom left and right */
form div {
  display: flex;
  justify-content: space-between;
  grid-column: span 3; /* Ensures buttons span across all 3 columns */
}

form button {
  width: 45%; /* Adjust button width */
  padding: 15px; /* More padding for better visibility */
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}